*{
    padding: 0;
    margin: 0;
}
.wholebackground{
    background-image: url('images/imgback.jpg');
    background-size: cover; 
    background-position: center; 
    color: white; 
    width: 100%;
    height: 99vh;
    text-align: center;
    line-height: 1.5cm;
    display: flex;
    gap: 2cm;

    
    

}
.wholebackground::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5); 

    z-index: 1; 
   
}

.wholebackground img{
    position: relative ;
    margin-left: 3.5cm;
    margin-top: 5cm;
    z-index: 2;
    cursor: pointer;
    
}

.wholebackground h2{
    position: absolute;
    z-index: 2;
    font-size: 40px;
   
   
}

.personal{
    height: 15.5cm;
    width: 10cm;
    border-radius: 0.5cm;
    
}
.handmaid{
    width: 10cm;
    border-radius: 0.5cm;
   
    
}
.trevor{
    width: 10cm; 
    border-radius: 0.5cm;
}
.trevor{
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;
    cursor: pointer;
}

.trevornoah > .trevor{
    
     object-fit: cover;
     transition: transform 300ms,filter 400ms;
}
.trevornoah > .group{
    opacity: 0;
    color: white;
    transition: opacity 400ms,transform 400ms;
    top: 11cm;
    left: 5.5cm;
    position: absolute;
   

}
.trevornoah:is(:hover,:focus) > .trevor{
    transform: scale(1.1);
    filter: brightness(.4);

}
.trevornoah:is(:hover,:focus) > .group{
    transform: scale(1.2);
    opacity: 1;
}
.handmaid{
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;
    cursor: pointer;
}
.handmaidtale > .handmaid{
    
     object-fit: cover;
     transition: transform 300ms,filter 400ms;
}
.handmaidtale > .group2{
    opacity: 0;
    color: white;
    transition: opacity 400ms,transform 400ms;
    top: 11cm;
    left: 21cm;
    position: absolute;
   

}
.handmaidtale:is(:hover,:focus) > .handmaid{
    transform: scale(1.1);
    filter: brightness(.4);

}
.handmaidtale:is(:hover,:focus) > .group2{
    transform: scale(1.2);
    opacity: 1;
}

.personal{
    display: grid;
    place-items: center;
    grid-template-areas: "main";
    overflow: hidden;
    cursor: pointer;
}
.personalwork > .personal{
    
     object-fit: cover;
     transition: transform 300ms,filter 400ms;
}
.personalwork > a{
    opacity: 0;
    color: white;
    transition: opacity 400ms,transform 400ms;
    top: 11cm;
    left: 37.5cm;
    position: absolute;
    z-index: 2;
    
   

}
.personalwork:is(:hover,:focus) > .personal{
    transform: scale(1.1);
    filter: brightness(.4);

}
.personalwork:is(:hover,:focus) > a{
    transform: scale(1.2);
    opacity: 1;
}
.trevornoah > a{
    opacity: 0;
    color: white;
    transition: opacity 400ms,transform 400ms;
    top: 10cm;
    left: 7cm;
    position: absolute;
    z-index: 2;
}

.trevornoah:is(:hover,:focus) > a{
    transform: scale(1.2);
    opacity: 1;
}
.handmaidtale a{
    text-decoration: none;
    color: white;
}


.nav{
    position: absolute;
    border: solid 1px white;
    background-color: rgb(36, 35, 35);
    padding: 20px;
    top: 23cm;
    left: 15cm;
    border-radius: 10px;
    z-index: 2; 
    
 }
 .nav a{
    text-decoration: none;
    margin-left: 1cm;
    margin-right: 1cm;
    color: white;
    font-weight: bold ;
    transition: 0.5 ease;
    text-transform: uppercase;
    

}

.nav:hover{
    border: 2px solid brown;
}
.nav:hover  a{
    color: white;
    animation: glowing 1s ease-in-out infinite alternate;
}
.nav:hover a:not(:hover){
    color: white;
    opacity: 0.3;
    filter: blur(1px);
 } 
 @media screen and (min-width:390px) and (max-width:844px){
    *{
        padding: 0;
        margin: 0;
    }
    body{
        overflow-x: hidden;
    }
    .wholebackground{
        background-image: url('images/imgback.jpg');
        background-size: cover; 
        background-position: center; 
        color: white; 
        width: 100%;
        height: 185vh;
        text-align: center;
        line-height: 1.5cm;
        display: flex;
        display: block;
        gap: 2cm;
    
        
        
    
    }
    .wholebackground::after {
        content: ""; 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        background-color: rgba(0, 0, 0, 0.5); 
    
        z-index: 1; 
       
    }
    
    .wholebackground img{
        position: relative ;
        margin-left: 1cm;
        margin-top: 0cm;
        z-index: 2;
        cursor: pointer;
        
    }
    
    .wholebackground h2{
        position: absolute;
        z-index: 2;
        font-size: 40px;
        
        
       
       
    }
    
    .personal{
        padding-top: 1cm;
        height: 12cm;
        width: 8cm;
        border-radius: 0.5cm;
        display: grid;
        place-items: center;
        grid-template-areas: "main";
        overflow: hidden;
        cursor: pointer;
        
    }
    .handmaid{
        padding-top: 1cm;
        width: 8cm;
        border-radius: 0.5cm;
        display: grid;
        place-items: center;
        grid-template-areas: "main";
        overflow: hidden;
        cursor: pointer;
        
    }
    /* .trevor{
        padding-top: 1cm;
        width: 8cm; 
        border-radius: 0.5cm;
    } */
    .trevor{
        display: grid;
        place-items: center;
        grid-template-areas: "main";
        overflow: hidden;
        cursor: pointer;
        padding-top: 1cm;
        width: 8cm; 
        border-radius: 0.5cm;
    }
    .trevornoah > .trevor{
        
         object-fit: cover;
         transition: transform 300ms,filter 400ms;
    }
    .trevornoah > .group{
        opacity: 0;
        color: white;
        transition: opacity 400ms,transform 400ms;
        top: 6cm;
        left: 2.5cm;
        position: absolute;
       
    
    }
    .trevornoah:is(:hover,:focus) > .trevor{
        transform: scale(1.1);
        filter: brightness(.4);
    
    }
    .trevornoah:is(:hover,:focus) > .group{
        transform: scale(1.2);
        opacity: 1;
    }
    /* .handmaid{
        display: grid;
        place-items: center;
        grid-template-areas: "main";
        overflow: hidden;
        cursor: pointer;
    } */
    .handmaidtale > .handmaid{
        
         object-fit: cover;
         transition: transform 300ms,filter 400ms;
    }
    .handmaidtale > .group2{
        opacity: 0;
        color: white;
        transition: opacity 400ms,transform 400ms;
        top: 19cm;
        left: 2cm;
        position: absolute;
       
    
    }
    .handmaidtale:is(:hover,:focus) > .handmaid{
        transform: scale(1.1);
        filter: brightness(.4);
    
    }
    .handmaidtale:is(:hover,:focus) > .group2{
        transform: scale(1.2);
        opacity: 1;
    }
    
    /* .personal{
        display: grid;
        place-items: center;
        grid-template-areas: "main";
        overflow: hidden;
        cursor: pointer;
    } */
    .personalwork > .personal{
        
         object-fit: cover;
         transition: transform 300ms,filter 400ms;
    }
    .personalwork > a{
        opacity: 0;
        color: white;
        transition: opacity 400ms,transform 400ms;
        top: 32cm;
        left: 3cm;
        position: absolute;
        z-index: 2;
        
       
    
    }
    .personalwork:is(:hover,:focus) > .personal{
        transform: scale(1.1);
        filter: brightness(.4);
    
    }
    .personalwork:is(:hover,:focus) > a{
        transform: scale(1.2);
        opacity: 1;
    }
    .nav{
        position: absolute;
        border: solid 1px white;
        background-color: rgb(36, 35, 35);
        padding: 10px;
        top: 23cm;
        left: 0.3cm;
        border-radius: 10px;
        z-index: 2; 
        font-size: 15px;
        margin-top: 17cm;
        
        
     }
     .nav a{
        text-decoration: none;
        margin-left: 0.2cm;
        margin-right: 0cm;
        color: white;
        font-weight: bold ;
        transition: 0.5 ease;
        text-transform: uppercase;
        
        

        
    
    }
    
    .nav:hover{
        border: 2px solid brown;
    }
    .nav:hover  a{
        color: white;
        animation: glowing 1s ease-in-out infinite alternate;
    }
    .nav:hover a:not(:hover){
        color: white;
        opacity: 0.3;
        filter: blur(1px);
     } 
 }