body{
    
    overflow-x: hidden;
    margin: 0%;
    
}

@keyframes slide-in-left {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }}

    #title{
        direction:right;
        width:50%;
        font-size: 200%;
        border: solid 1px;
        width: 100%;
        padding: 10px;
        background-color: rgb(220, 245, 230);
    }
   
nav ul{
    border: solid 1px;
    padding: 10px;
    list-style: none;
    display: flex;
    font-size: 150%;
    width: 15cm;
    margin-left: 15cm;
    margin-top: 2cm;
    border-color: rgba(94, 255, 0, 0.664);
}
nav ul a{
    margin-left: 2cm;
    text-decoration: none;
    color: black;
    cursor: pointer;
    
    
}
nav ul a:hover{
    background-color:rgb(220, 226, 245);
    

}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2cm;
}
.top-images{
margin-left: 4cm;
gap: 2cm;
margin-top: 3cm;
border: solid;
padding: 25px;
width: 80%;
display: flex;
background-color: rgb(220, 245, 230);
}

#leftbook{
    width: 30%;
    height: 10cm;
}
#middlebook{
    width: 30%;
    height: 10cm; 
}
#rightbook{
    width: 30%;
    height: 10cm;
}
@font-face {
    font-family: "kurale";
    src: url(fonts/Kurale-Regular.ttf);
}


#title-description{
    font-size:150%;
    width: 15cm;
    height: 5cm;
    padding: 0.5cm;
    margin-left: 4.5cm;
    background-color: white;
    
}

.quote-text{
    border: solid 1px;
    width: 50%;
    height: 30cm;
    margin-left: 13cm;
    background-color: rgb(220, 245, 230);
    font-family: "kurale";
    
}

.my-blog{
    font-size: 150%;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 80%;
    background-position: center;
    margin-left:3cm;
    margin-top: 2cm;
    font-family: "kurale";
}
.blog-images{
    display: flex;
    gap: 3cm;
    margin-left: 4cm;
}

h2{
    text-align: center;
    font-size: 250%;
    margin-top: 3cm;
}
.form-details{
    display: flex;
    gap: 3cm;
    
}

.form-fill{
    border: solid 1px;
    width: 50%;
    height: 12cm;
    margin-left: 3cm;
    background-color: cadetblue;
    
}
#fname{
    width: 10cm;
    height: 1cm;
    border-color:rgba(172, 255, 47, 0.664);
}
#email{
    width: 10cm;
    height: 1cm;
    border-color:rgba(172, 255, 47, 0.664);
}
#tel{
    width: 10cm;
    height: 1cm;
    border-color:rgba(172, 255, 47, 0.664);
}
#subject{
    width: 10cm;
    height: 1cm;
    border-color:rgba(172, 255, 47, 0.664);
}

#message{
    width: 10cm;
    height: 3cm;
    border-color:rgba(172, 255, 47, 0.664);
}
#submit-button{
padding:15px;
width: 2cm;
border-radius: 15px;
border-color:rgba(172, 255, 47, 0.664);
background-color: rgba(0, 0, 255, 0.336);
}
.details{
    border: solid 1px;
    width: 40%;
    height: 12cm;
    background-color:grey;
}
.form-info{
    display: flex;
}
.phonecall{
    margin-left: 1cm;
    margin-top: 0.5cm;
    font-size: 150%;
}
.location{
    margin-left: 1cm; 
    margin-top: 1cm;
    font-size: 150%;
}
.envolope{
    margin-left: 1cm;
    margin-top: 1cm;
    font-size: 130%;
}

.icons{
    display: flex;
    gap: 2cm;
    font-size: 180%;
    
}
@media only screen and(max-width:400px){
    .top-images{
        gap: 2cm;
        border: solid;
        padding: 2px;
        width: 40%;
        display: block;
        background-color: rgb(220, 245, 230);
        }

   
        nav ul{
            border: solid 1px;
            padding: 10px;
            list-style: none;
            display: flex;
            font-size: 150%;
            width: 15cm;
            margin-left: 5cm;
            margin-top: 2cm;
            border-color: rgba(94, 255, 0, 0.664);
        }   
}