body{
    margin: 0;
}
.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images-fiona/trevor-image1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    height: 440vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
@font-face {
    font-family:typewriter ;
    src: url(fonts/TypewriterSerial\ Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
.intro-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    color: white;
    font-family: poppins;
  
}
button:hover{
    border: 3px solid aqua;
}
button:hover{
    color: brown;
}
.intro-titles h1{
font-size: 80px;

}
.intro-titles p{
   font-style: italic;
   font-size: 30px;
}
.arrow i{
    display: flex;
    justify-content: center;
    font-size: 50px;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    align-items: center;
    color: white;
    margin-top: 7%;
    margin-left: 45%;
    border: solid 1px white;
 
}
.intro-button button{
    width: 13%;
    height: 10vh;
    margin-top: 4%;
    margin-left: 42%;
    font-size: 15px;
    font-size: 25px;
}
.home-page{
    width: 85%;
    background-color: white;
    position: absolute;
    margin-top: -160%;
    margin-left: 9%;
}
.home-page h1{
    font-family: typewriter;
    font-size: 80px;
    color: rgb(33,41,49);
}
.home-page p{
    font-family: poppins;
    font-size: 20px;
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
}
.nav-bar span a{
    font-size: 20px;
    margin-left: 2%;
    color: black;
}
.section{
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-size: 20px;
    width: 85%;
    margin-top:0.2%;
    color: white;
    height: 77px;
    background-color: rgb(100,102,100);
}
.social_icons{
    display: flex;

    margin-left: 70%;
    gap: 35%;
    font-size: 30px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

}
.title p{
    font-style: italic;
}
.intro-image{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 2%;
    justify-content: center;
}
.intro-image  img{
    width: 70%;
    border:none;
        border-radius: 20px;
        object-fit: cover;
        transition: transform 0.2s;
    
}
.intro-image:hover img{
    transform: scale(1.1);
}
.intro-image button{
    width: 15%;
    margin-left: 30%;
    margin-top: 5%;
    font-size: 30px;
    height: 6vh;
  
}
.image-section{
    display: flex;
    justify-content: center;
    gap: 20%;
}
.image-intro{
    display: flex;
    flex-direction: column;
    margin-left: -6%;
    align-items: center;
}
.image-intro p{
font-size: 20px;
} 
.image-intro h2{
font-size: 25px;
font-weight: bold;
color: rgb(99, 102, 99);
font-family: poppins;
}
.images img{
    width: 90%;
    height: 40vh;
    margin-top: 3%;
        border:none;
        border-radius: 20px;
        object-fit: cover;
        transition: transform 0.2s;
    
    }
    
    .images:hover img {
        transform: scale(1.1);
    }
.images{
    margin-top: 10%;
}
.images button{
    width: 50%;
    height: 50px;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 2%;
}
.next-buttons{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 30px;
   
}
.icons{
    margin-top: 5%;
    font-size: 30px;
    height: 70px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: rgb(100,102,100);
}
.copyright{
    background-color: rgb(100,102,100); 
    text-align: center;
    color: white;
  font-size: 20px;
}
.text{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 15%;
}
.home-page a{
    text-decoration: none;
    color:white ;
}
@media only screen and (min-width: 751px) and (max-width: 999px){
body{
    background-size: 100vw 100vh ;
    margin: 0;
    height: 400vh;
  width: 90%;
  background-size: cover;
    /* overflow: hidden;  */
}

.intro-titles h1{
    font-size: 30px;
    
    }
    .intro-titles p{
       font-style: italic;
       font-size: 20px;
    }
    .arrow i{
       
        margin-top: 7%;
        margin-left: 40%;
     
    }
    .intro-button button{
        width: 13%;
        height: 6vh;
        margin-top: 4%;
        margin-left: 39%;
        font-size: 10px;
    }
    .home-page{
        width: 80%;
        background-color: white;
        position: absolute;
        margin-top: -520%;
        margin-left: 6%;
    }
    .home-page h1{
        font-size: 50px;
    }
    .home-page p{
        font-family: poppins;
        font-size: 15px;
    }
    .nav-bar{
        display: flex;
        width: 100%;
        height: 70px;
        align-items: center;
    }
    .nav-bar span a{
        font-size: 15px;
        margin-left: 2%;
    }
    .section{
        display: flex;
        align-items: center;
        margin-left: 5%;
        font-size: 15px;
        width: 85%;
        margin-top:0.2%;
        color: white;
        height: 77px;
        background-color: rgb(100,102,100);
    }
    .social_icons{
        display: flex;
    
        margin-left: 40%;
        gap: 20%;
        font-size: 19px;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    
    }
    .title p{
        font-style: italic;
    }
   
    .intro-image:hover img{
        transform: scale(1.1);
    }
    .intro-image button{
        width: 20%;
        margin-left: 30%;
        margin-top: 5%;
        font-size: 10px;
        height: 3vh;
      
    }
    .image-section{
        display: flex;
        justify-content: center;
        gap: 20%;
    }
    .images{
        margin-left: 30%;
    }
    .image-intro{
        display: flex;
        flex-direction: column;
        margin-left: -45%;
        align-items: center;
    }
    .image-intro p{
    font-size: 10px;
    } 
    .image-intro h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    color: rgb(99, 102, 99);
    font-family: poppins;
    }
    .images img{
        width: 60%;
        height: 20vh;
        margin-top: 3%;
            border:none;
            border-radius: 15px;
            object-fit: cover;
            transition: transform 0.2s;
        
        }
        
    .image-section{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }
    .images button{
        width: 30%;
        margin-left: 20%;
        margin-top: 5%;
        font-size: 9px;
        height: 3vh;
    
    }
    .next-buttons{
        width: 20%;
        margin-left: 45%;
        margin-top: 5%;
        font-size: 10px;
        height: 3vh;
       
    }
    .icons{
        margin-top: 5%;
        font-size: 20px;
        height: 70px;
        color:white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        background-color: rgb(100,102,100);
    }
    .copyright{
        background-color: rgb(100,102,100); 
        text-align: center;
        color: white;
      font-size: 20px;
      margin-left: 3%;
    }
  

}
@media only screen and (min-width: 0px) and (max-width: 430px){
    body{
        background-size: 100vw 100vh ;
        margin: 0;
        height: 400vh;
      width: 100%;
      background-size: cover;
        /* overflow: hidden;  */
    }
    
    .intro-titles h1{
        font-size: 20px;
        margin-left: 10%;
        
        }
        .intro-titles p{
           font-style: italic;
           font-size: 15px;
        }
        .arrow i{
            height: 20px;
           width: 20px;
            margin-top: 7%;
            margin-left: 40%;
            font-size: 15px;
         
        }
        .intro-button button{
            width: 15%;
            height: 4vh;
            margin-top: 4%;
            margin-left: 35%;
            font-size: 8px;
        }
        .home-page{
            width: 80%;
            background-color: white;
            position: absolute;
            margin-top: -890%;
            margin-left: 6%;
        }
        .home-page h1{
            font-size: 50px;
        }
        .home-page p{
            font-family: poppins;
            font-size: 15px;
        }
        .nav-bar{
            display: flex;
            width: 100%;
            height: 70px;
            align-items: center;
            font-size: 10px;
        }
        .nav-bar span a{
            font-size: 10px;
            margin-left: 2%;
        }
        .section{
            display: flex;
            align-items: center;
            margin-left: 5%;
            font-size: 15px;
            width: 85%;
            margin-top:0.2%;
            color: white;
            height: 77px;
            background-color: rgb(100,102,100);
        }
        .social_icons{
            display: flex;
        
            margin-left: 7%;
            gap: 20%;
            font-size: 15px;
        }
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5%;
        
        }
        .title p{
            font-style: italic;
            font-size: 10px;
        }
        .title h1{
            font-size: 20px;
        }
       
        .intro-image:hover img{
            transform: scale(1.1);
        }
        .intro-image button{
            width: 20%;
            margin-left: 30%;
            margin-top: 5%;
            font-size: 10px;
            height: 3vh;
          
        }
        .image-section{
            display: flex;
            justify-content: center;
            gap: 20%;
        }
        .images{
            margin-left: 30%;
        }
        .image-intro{
            display: flex;
            flex-direction: column;
            margin-left: -45%;
            align-items: center;
        }
        .image-intro p{
        font-size: 10px;
        } 
        .image-intro h2{
        font-size: 20px;
        font-weight: bold;
        margin-left: 5%;
        color: rgb(99, 102, 99);
        font-family: poppins;
        }
        .images img{
            width: 60%;
            height: 20vh;
            margin-top: 3%;
                border:none;
                border-radius: 15px;
                object-fit: cover;
                transition: transform 0.2s;
            
            }
            
        .image-section{
            margin-top: 10%;
            display: flex;
            flex-direction: column;
        }
        .images button{
            width: 30%;
            margin-left: 20%;
            margin-top: 5%;
            font-size: 9px;
            height: 3vh;
        
        }
        .next-buttons{
            width: 20%;
            margin-left: 45%;
            margin-top: 5%;
            font-size: 10px;
            height: 3vh;
           
        }
        .icons{
            margin-top: 5%;
            font-size: 20px;
            height: 70px;
            color:white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5%;
            background-color: rgb(100,102,100);
        }
        .copyright{
            background-color: rgb(100,102,100); 
            text-align: center;
            color: white;
          font-size: 20px;
          margin-left: 3%;
        }
      
}
